* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-image: url("./images/fons2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
img {
  object-fit: cover;
}
.goUp {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25em;
  width: 80px;
  height: 80px;
  background-color: #f8f8f8;
}

.container {
  width: 900px;
  margin: 0 auto;
  background-color: rgb(234, 234, 234);
}

#root {
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
}

.header {
  display: flex;
  flex-direction: column;
  border: none;

  &__top-container {
    display: flex;
    font-family: "Space Grotesk", sans-serif;
  }

  &-logo {
    width: 50%;
    padding: 50px;
    border: none;
  }

  &-actions {
    width: 420px;

    .header-user-area {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-top: 15px;
      padding-bottom: 15px;
      border: none;

      &__my-news {
        color: black;
        font-family: "Space Grotesk", sans-serif;
        font-weight: 500;
        width: 40px;
        white-space: nowrap;
        margin-right: 10px;
        margin-left: 30px;

        &:hover {
          color: #f66e44;
        }
      }

      &__button {
        color: white;
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        background-color: black;
        border-radius: 20px;
        font-weight: 400;
        border: none;
        padding: 5px;
        width: 75px;
        &:hover {
          background-color: #f66e44;
        }
      }
    }
    .header-nav {
      &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        font-family: "Space Grotesk", sans-serif;
        li {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          list-style: none;
          width: 100%;
          font-family: "Space Grotesk", sans-serif;
        }
      }
    }
  }

  &-runner {
    display: flex;
    justify-content: space-around;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    font-family: "Cardo", serif;
    font-size: 15px;
    padding-left: 30px;
    padding-left: 70px;

    &__element__text {
      font-weight: 600;
      color: black;
    }

    &__element__text__color {
      font-weight: 600;
      color: #f66e44;
    }
  }
}

.main__news {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 45px;
  padding-top: 30px;
  width: 66%;
  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  &:hover img {
    cursor: pointer;
    filter: none;
  }
}

.main__big {
  display: flex;
  flex-direction: column;

  &-image {
    width: 453px;
    justify-content: center;
    align-items: center;
  }
}

.main__aside {
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid black;
  width: 33%;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  &-image {
    width: 220px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &-top {
    border-bottom: 1px solid black;
    height: 35%;
    width: 100%;
    padding-left: 40px;
    padding-right: 45px;
  }

  &-bottom {
    height: 66%;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }

    &:hover img {
      cursor: pointer;
      filter: none;
    }
  }
}
.main__more {
  display: flex;
  font-family: "Space Grotesk", sans-serif;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
}

.main__read-later {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  & p {
    margin-left: 5px;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
    white-space: nowrap;
  }
}

.main__more__read-medium {
  white-space: nowrap;
  margin-right: 10px;
}

.main__more__read {
  margin-right: 10px;
  white-space: nowrap;
}
.main__more__card {
  display: flex;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  justify-content: space-around;
  width: 100%;
}

.main__title {
  display: flex;
  flex-direction: row;
  font-family: "Cardo", serif;
  font-weight: 300;
  font-size: 30px;
  font-style: italic;
  width: 100%;

  &__aside-left {
    width: 33%;
    border: 1px black solid;
    display: flex;
  }
  &__aside-name {
    border-bottom: 1px solid black;
    width: 100%;
    height: 70px;
  }
}

.main-article {
  display: flex;
  &__aside-left {
    width: 33%;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
  }
  &__aside-name {
    border-bottom: 1px solid black;
    width: 100%;
    height: 70px;
    text-transform: uppercase;
  }
}
.section {
  &__title {
    font-family: "Space Grotesk", sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-left: 50px;
    padding: 0;
    height: 20px;
    display: flex;
    align-items: center;
  }
  &__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 300px;
  }
  &__card {
    position: relative;
    width: 33%;
    font-family: "Cardo", serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }

    &:hover img {
      cursor: pointer;
      filter: none;
    }

    &__image {
      padding: 10px;
    }

    & p {
      width: 205px;
    }
  }

  ::after {
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 1px;
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }

  &__container-title {
    border-top: 0.5px black solid;
    border-bottom: 0.5px black solid;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  width: 66%;
  border-top: 0.5px black solid;
  border-bottom: 0.5px black solid;
  justify-content: center;
  padding: 20px;
  &__cards {
    display: flex;
    justify-content: space-around;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  &__top {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
  }
  &__info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
}

.article {
  display: flex;
  flex-direction: column;
  width: 66%;

  justify-content: center;
  padding: 20px;
  &__top-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.show {
  display: inline;
  cursor: pointer;
}
.notShow {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  img {
    filter: none;
  }

  .main__content {
    flex-direction: column;
    width: 100%;
  }

  .main__news {
    width: 100%;
  }
  .main__aside {
    width: 400px;
    margin-left: 50px;
    border: none;
    border-top: 0.5px solid black;

    &-top {
      padding: 0;
      padding-bottom: 45px;
    }

    &-bottom {
      padding-bottom: 45px;
    }
  }

  .main__big {
    display: flex;
    flex-direction: column;

    &-image {
      width: 400px;
      height: 400px;
      justify-content: center;
      align-items: center;
      filter: none;
    }
  }

  .main__title {
    width: 400px;
  }
  .section {
    align-items: flex-start;
    &__cards {
      flex-direction: column;
      height: 600px;
    }
    &__card {
      flex-direction: column;
      width: 100%;
      justify-content: left;
      align-items: flex-start;
    }
  }
}

@media (max-width: 420px) {
  .header {
    flex-direction: column;
  }
  .header__top-container {
    flex-direction: column;
  }
  .header-user-area {
    justify-content: left;
  }
  .header-nav__list {
    justify-content: left;
  }
  .main__big {
    flex-direction: column;
  }
  .main__big-image {
    width: 300px;
    height: 300px;
  }
  .header-bottom-container {
    display: flex;
  }
  .main__title {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 415px;
  }
  .section__cards {
    flex-direction: column;
    align-items: center;
  }
}

.main__content--home {
  flex-direction: row;
  display: flex;
  width: 100%;
  font-size: 26px !important;
  font-weight: 300 !important;
}
